/build
/.externalNativeBuild
/src/test
/src/androidTest
/src/main/res/drawable
/src/main/res/values
/src/main/jniLibs
/src/main/java/tutk
/src/main/java/com/breeze/youcam/AboutFragment.java
/src/main/java/com/breeze/youcam/BaseFragment.java
/src/main/java/com/breeze/youcam/Config.java
/src/main/java/com/breeze/youcam/DeviceInfo.java
/src/main/java/com/breeze/youcam/DeviceList.java
/src/main/java/com/breeze/youcam/P2pClient.java
/src/main/java/com/breeze/youcam/MainActivity.java